<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Note list</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index_lab4' %}">Lab 4</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index_lab4' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_note_lab4' %}">Add Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'note_list_lab4' %}">Note Cards</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End of Navbar -->

<h2 class="text-center">Note Cards</h2>

<!-- Note Cards -->
<div class="container mb-3 mt-5">
    <div class="cardstyle">
    {% if notes %}
        {% for note in notes %}
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">From: {{ note.sender }}</div>
        <div class="card-header">To: {{ note.recipient }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ note.title }}</h5>
            <p class="card-text">{{ note.message }}</p>
        </div>
    </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
<!-- End of Note Cards -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>