<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Note Form</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index_lab4' %}">Lab 4</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index_lab4' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_note_lab4' %}">Add Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'note_list_lab4' %}">Note Cards</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End of Navbar -->

<h2 class="text-center">Add Friends</h2>

<!-- Form -->
<div class="row mb-3 mt-5">
    <div class="col-md-6 container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Recipient</label>
                <p>{{ form.recipient }}</p>
            </div>
            <div class="mb-3">
                <label class="form-label">Sender</label>
                <p>{{ form.sender }}</p>
            </div>
            <div class="mb-3">
                <label class="form-label">Title of Message</label>
                <p>{{ form.title }}</p>
            </div>
            <div class="mb-3">
                <label class="form-label">Message</label>
                <p>{{ form.message }}</p>
            </div>
            <input type="submit" value="Add" class="btn btn-primary">
        </form>
    </div>
</div>
<!-- End of Form -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>