<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      table {
          font-family: helvetica, sans-serif;
          border-collapse: collapse;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 10px;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% if friends %}
        {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.nPM }}</td>
        <td>{{ friend.dOB }}</td>
      </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
