<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friend Form</title>
    <style>
        body {
            font-family: "Helvetica";
            font-weight: bold;
        }
        .content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .formbox {
            border-radius: 20px;
            border: 2px solid #121212;
            padding: 20px;
        }
        .formcontent {
            line-height: 50%;
        }
        .submitbtn {
        }
        .notice {
            font-weight: normal;
            font-size: 10px;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="formbox">
            <h2>Friend Form</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="formcontent">
                    <p>Name</p>
                    <p class="nameform">{{ form.name }}</p>
                </div>
                <div class="formcontent">
                    <p>NPM</p>
                    <p class="nameform">{{ form.nPM }}</p>
                </div>
                <div class="formcontent">
                    <p>DOB</p>
                    <p class="nameform">{{ form.dOB }}</p>
                    <p class="notice">DOB = Date of Birth</p>
                </div>
                <input type="submit" value="Submit" class="submitbtn">
            </form>
        </div>
    </div>
</body>
</html>