<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <title>Note List</title>
      <style>
      table {
          font-family: helvetica, sans-serif;
          border-collapse: collapse;
      }
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 10px;
      }
      </style>
  </head>
  <body>
    <table>
      <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
      </tr>

      {% if notes %}
        {% for note in notes %}
      <tr>
          <td>{{ note.recipient }}</td>
          <td>{{ note.sender }}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.message }}</td>
      </tr>
        {% endfor %}
      {% endif %}

    </table>
  </body>
</html>
